<%= simple_form_for(@chamado) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :problema_descricao, :label=>'Selecione o Problema', :url => autocomplete_problema_descricao_chamados_path, :as => :autocomplete, :id_element => "#problema_id" ,:input_html=>{:value=>(@chamado.problema.descricao if @chamado.problema)}%>

    <%= f.input :problema_id, :as => :hidden, :input_html => { :id => "problema_id"} %>

    <%= f.input :observacoes_usuario, :label=>"Observações" %>

    <% if @chamado.user_id.blank? %>
      <%= f.input :user_id, as: :hidden, :input_html=>{:value=>current_user.id} %>
    <% end %>

    <% if @chamado.status.blank? %>
      <%= f.input :status, as: :hidden, :input_html=>{:value=>"ABERTO"} %>
      <%= f.input :data_status_aberto, as: :hidden, :input_html=>{:value=>DateTime.now} %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', chamados_path, :class=>'btn btn-default' %>
  </div>
<% end %>
