<% content_for :titulo do %>
  Usuários
<% end %>

<% content_for :sub_titulo do %>
  Editar Usuário
<% end %>


<%= simple_form_for @usuario, :url=>usuario_path(@usuario) do |f| %>

  <%= f.input :name, :label=>"Nome" %>

  <%= f.input :email %>

  <%= f.input :departamento_nome, :label=>'Selecione o Departamento', :url => autocomplete_departamento_nome_usuarios_path, :as => :autocomplete, :id_element => "#departamento_id" ,:input_html=>{:value=>(@usuario.departamento.nome if @usuario.departamento)}%>

  <%= f.input :departamento_id, :as => :hidden, :input_html => { :id => "departamento_id"} %>

  <% if can? :manage, Role %>
    <%= f.input :role_ids, :label=>"Permissões", :collection=>Role.accessible_by(current_ability).order('nome ASC').collect {|d| [d.nome, d.id]}, as: :check_boxes %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', :class=>'btn btn-primary' %>
    <%= link_to 'Voltar', usuarios_path, :class=>'btn btn-default' %>
  </div>

<% end %>